.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  border: 5px solid #131312;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.card img:hover {
  transform: scale(1.07);
  }

.card h2 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #1010a0;
}

.card p {
  font-size: 20px;
  margin-bottom: 20px;
}

.card img:first-of-type {
  display: block;
}

.card img:last-of-type {
  display: none;
}

.card:hover img:first-of-type {
  display: none;
}

.card:hover img:last-of-type {
  display: block;
  transform: scale(1.2);

}