
body {
  background: linear-gradient(to right, #1aa010, #ff0000, #840303, #0000ff, #ffffff, #000000);
  background-size: 600% 100%;
  animation: gradient 20s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 25%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 75%;
  }
  100% {
    background-position: 0% 50%;
    background-color: #ffffff;
  }
}


.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: rgb(244, 157, 110);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 55px rgba(218, 225, 2, 0.8);
  border: 5px solid #fdfbfd;
  border-radius:6%
  
}

.card img {
  width: 100%;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.card img:hover {
  transform: scale(1.07);
  }

.card h2 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:#ffffff;
  
}

.card p {
  font-size: 20px;
  margin-bottom: 20px;
}

.card img:first-of-type {
  display: block;
}

.card img:last-of-type {
  display: none;
}

.card:hover img:first-of-type {
  display: none;
}

.card:hover img:last-of-type {
  display: block;
  transform: scale(1.2);

}